@import './base.css';

/* ================================
   App Typography
   ================================ */
:root {
  --app-font-size: 16px;
}

body {
  margin: 0;
  font-size: var(--app-font-size);
}

/* ================================
   App Container
   ================================ */
#app {
  font-weight: normal;
}
